#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                  &kp N2 &kp N3    &kp N4    &kp N5                        &kp N6   &kp N7   &kp N8     &kp N9
                &kp ESC    &kp N1 &kp W  &kp E     &kp R     &kp T                         &kp Y    &kp U    &kp I      &kp O   &kp N0   &kp MINUS
                &kp TAB    &kp Q  &kp S  &kp D     &kp F     &kp G                         &kp H    &kp J    &kp K      &kp L   &kp P    &kp EQUAL
                &kp CAPS   &kp A  &kp X  &kp C     &kp V     &kp B                         &kp N    &kp M    &kp COMMA  &kp DOT &kp SEMI &kp SQT
                &kp LSHIFT &kp Z  &kp V  &kp GRAVE                                                  &kp LBKT &kp RBKT  &kp FSLH &kp BSLH
                                         &mt LALT ESC &mt RSHIFT SPACE &mt LCTRL ENTER     &mt LCTRL ENTER &mt RSHIFT SPACE &mt RALT ESC
                                              &kp LWIN &lt LWR BSPC                        &lt LWR BSPC    &kp RWIN
            >;
        };

        lower_layer {
            bindings = <
                                    &kp F2       &kp F3       &kp F4  &kp F5              &kp F6 &kp F7   &kp F8   &kp F9 
                &kp F12     &kp F1  &trans       &trans       &trans  &trans              &trans &trans   &trans   &trans &kp F10   &kp F11
                &kp K_MUTE &trans &kp K_PP &kp K_VOL_UP &kp K_VOL_DN &kp K_NEXT           &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans 
                &sys_reset  &kp K_PREV &kp PSCRN &kp PAUSE_BREAK &trans  &trans           &trans &trans   &trans   &trans &trans    &sys_reset
                &bootloader &trans  &trans       &trans                                                   &trans   &trans &trans    &bootloader
                                                 &trans  &trans &trans                    &trans &trans   &trans
                                                         &trans &trans                    &trans &trans
            >;
        };
    };
};
