#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                  &kp N2 &kp N3    &kp N4    &kp N5                  &kp N6   &kp N7   &kp N8     &kp N9
                &kp ESC    &kp N1 &kp W  &kp E     &kp R     &kp T                   &kp Y    &kp U    &kp I      &kp O    &kp N0   &kp MINUS
                &kp TAB    &kp Q  &kp S  &kp D     &kp F     &kp G                   &kp H    &kp J    &kp K      &kp L    &kp P    &kp EQUAL
                &kp CAPS   &kp A  &kp X  &kp C     &kp V     &kp B                   &kp N    &kp M    &kp COMMA  &kp SEMI &kp SQT &kp BSLH
                &kp LSHIFT &mt K_PASTE K_COPY &kp V  &kp GRAVE                                         &kp LBKT &kp RBKT   &kp DOT  &kp FSLH
                                         &mt LALT ENTER &mt LWIN SPACE &mt LCTRL BSPC      &mt RCTRL BSPC &mt RWIN SPACE &mt RALT ENTER
                                                  &sk LSHIFT     &mo LWR             &mo LWR   &sk RSHIFT
            >;
        };

        lower_layer {
            bindings = <
                                   &kp F2 &kp F3 &kp F4 &kp F5          &kp F6 &kp F7   &kp F8   &kp F9 
                &kp F12     &kp F1 &trans &trans &trans &trans          &trans &trans   &trans   &trans &kp F10   &kp F11
                &trans      &trans &trans &trans &trans &trans          &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans
                &sys_reset  &trans &trans &trans &trans &trans          &trans &trans   &trans   &trans &trans    &sys_reset
                &bootloader &trans &trans &trans                                        &trans   &trans &trans    &bootloader
                                                &trans &trans &trans          &trans &trans   &trans
                                                       &trans &trans          &trans &trans
            >;
        };
    };
};
